/* Apply for Club Retrofit! */
#apply {
    background-image: linear-gradient(
        to bottom,
        #5c002d 0%, #5c002d 11%,
        #74003a 11%, #74003a 22%,
        #9a004d 22%, #9a004d 33%,
        #b5005b 33%, #b5005b 44%,
        #d37063 44%, #d37063 56%,
        #ffff64 56%, #ffff64 67%,
        #00ccff 67%, #00ccff 78%,
        #0196ba 78%, #0196ba 89%,
        #00333f 89%, #00333f 100%
    );
}

#apply > div {
    color: white;
    max-width: 96%;
    padding: 0 2%;
    margin: 2rem auto;
    display: flow-root;
    background-color: rgba(0, 0, 0, 0.5);
}

#apply > div > form > div:first-child {
    display: flex;
    flex-flow: row wrap;
}

#apply > div > form > div:first-child > * {
    flex-basis: 300px;
    flex-grow: 1;
}

#apply > div > form #about-me {
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-template-rows: auto 4rem;
}

#apply > div > form #about-me > label {
    margin: .25rem;
}

#apply > div > form #about-me input[name=name] {
    font-family: Silkscreen, sans-serif;
    max-width: 100%;
}

#apply > div > form #about-me #avatar-input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: .5rem;
}

#apply > div > form #social-medias {
    display: grid;
    grid-template-columns: 6.5em 1fr;
}

#apply > div > form #social-medias > label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: .5rem;
}

#apply > div > form #social-medias > p:last-child {
    margin: .5rem 0;
}

#apply > div > form .full-grid-width {
    grid-column: 1 / -1;
}

#apply > div > form input[type="submit"] {
    padding: 1rem;
    font-size: 1rem;
    appearance: none;
    border-top: 2px solid #FFF;
    border-left: 2px solid #FFF;
    border-bottom: 2px solid #555;
    border-right: 2px solid #555;
    background-color: #AAA;
    font-family: Silkscreen, sans-serif;
    width: 16rem;
    display: block;
    margin: 0 auto 1rem;
}

@media only screen and (min-width: 500px) {
    #apply > div > form #about-me input[name=name] {
        font-size: 1.5rem;
    }
}


@media only screen and (max-width: 360px) {
    /* Fix apply button overflowing */
    #apply > div > form input[type="submit"] {
        width: 100%;
    }
}
