/* Apply for Club Retrofit! */
#apply {
    background-image: linear-gradient(
        to bottom,
        #5c002d 0%, #5c002d 11%,
        #74003a 11%, #74003a 22%,
        #9a004d 22%, #9a004d 33%,
        #b5005b 33%, #b5005b 44%,
        #d37063 44%, #d37063 56%,
        #ffff64 56%, #ffff64 67%,
        #00ccff 67%, #00ccff 78%,
        #0196ba 78%, #0196ba 89%,
        #00333f 89%, #00333f 100%
    );
}

#apply > div {
    color: white;
    max-width: 96%;
    padding: 0 2%;
    margin: 2rem auto;
    display: flow-root;
    background-color: rgba(0, 0, 0, 0.5);
}

#apply > div > form > div:first-child {
    display: flex;
    flex-flow: row wrap;
}

#apply > div > form > div:first-child > * {
    flex-basis: 300px;
    flex-grow: 1;
}

#apply > div > form label {
    display: flex;
    margin: 1rem 0;
    flex-flow: row wrap;
}

#apply > div > form label > * {
}
