/* Main jumbotron */
body > main {
    padding-left: 5rem; /* Make room for navbar */
}
body > main > #heady {
    /* I learned how to do this from this article: */
    /* https://css-tricks.com/books/greatest-css-tricks/hard-stop-gradients/ */
    /* Colours inspired by the images from this webpage: */
    /* https://wallpaperaccess.com/retro-neon-city */
    background-image: linear-gradient(
        to bottom,
        #402 0%, #402 10%,
        #690034 10%, #690034 20%,
        #a40052 20%, #a40052 30%,
        #a9414b 30%, #a9414b 40%,
        #ae723c 40%, #ae723c 50%,
        #acad00 50%, #acad00 60%,
        #d1d100 60%, #d1d100 70%,
        #FF3 70%, #FF3 80%,
        #d1d100 80%, #d1d100 90%,
        #acad00 90%, #acad00 100%
    );
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
body > main > #heady > * {
    max-width: 70%;
    z-index: 20;
}

body > main > #heady > .screenshots-marquees {
    max-width: 100%;
}

.screenshots-marquees {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    display: flow-root;
}

.screenshots-marquees > * {
    opacity: 0.5;
    position: absolute;
    max-width: 16%;
}

@keyframes simple_marquee {
    from { left: -25%; }
    to { left: 100%; }
}

/*
 * Delays were calculated using this formula:
 *
 * Let xn represent the initial off-screen left offset percentage
 * Let xi represent the desired initial left offset percentage
 * Let s represent the animation duration in seconds
 *
 * delay = (xn + xi) / (xn + 100.) * -s
 *
 * The answers were rounded to the nearest tenth
 */

.screenshots-marquees > :nth-child(1) {
    top: 4%;
    left: 33%;
    animation: 15s linear -6.3s infinite normal none running simple_marquee;
}

.screenshots-marquees > :nth-child(2) {
    top: 12%;
    left: 11%;
    animation: 14s linear -3.3s infinite normal none running simple_marquee;
}

.screenshots-marquees > :nth-child(3) {
    top: 41%;
    left: 15%;
    animation: 17s linear -4s infinite normal none running simple_marquee;
}

.screenshots-marquees > :nth-child(4) {
    top: 66%;
    left: 41%;
    animation: 15s linear -4s infinite normal none running simple_marquee;
}

.screenshots-marquees > :nth-child(5) {
    top: 7%;
    left: 80%;
    animation: 12s linear -9.9s infinite normal none running simple_marquee;
}

.screenshots-marquees > :nth-child(6) {
    top: 24%;
    left: 60%;
    animation: 14s linear -9.2s infinite normal none running simple_marquee;
}

.screenshots-marquees > :nth-child(7) {
    top: 71%;
    left: 5%;
    animation: 18s linear -3.3s infinite normal none running simple_marquee;
}

.screenshots-marquees > :nth-child(8) {
    top: 86%;
    left: 81%;
    animation: 16s linear -13.4s infinite normal none running simple_marquee;
}

.screenshots-marquees > :nth-child(9) {
    top: 40%;
    left: 37%;
    animation: 13s linear -5.9s infinite normal none running simple_marquee;
}

.screenshots-marquees > :nth-child(10) {
    top: 65%;
    left: 65%;
    animation: 15s linear -10.5s infinite normal none running simple_marquee;
}

body > main > #heady > .watch-us {
    max-width: 50%;
    margin-right: 40%;
    margin-bottom: 2rem;
}

body > main > #heady > #title-intro {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 1rem;
}

@media only screen and (max-width: 900px) {
    .watch-us {
        max-width: 70%;
        margin-right: 0;
    }
}

/* Navbar will appear at the top */
@media only screen and (max-width: 750px) {
    body > main {
        padding-left: 0;
        padding-top: 4rem;
    }
}

/* These are a bit too narrow on mobiles in portrait mode... */
@media only screen and (max-width: 600px) {
    body > main > #heady > #title-intro {
        margin: 2rem;
        max-width: 100%;
    }
    body > main > #heady > .watch-us {
        margin: 2rem;
        max-width: 100%;
    }
    .screenshots-marquees > * {
        max-width: 25%;
    }
}
