/* Sidebar/top bar on mobile */

/* I wanted to imitate the EGA colours here. */
/* EGA has 4 shades for each colour component: 0, 5, A, F */
/* For a total of 64 colours. */
body > nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 5rem;
    background-color: #A0A;
    border-right: 2px solid #505;
    z-index: 100;
}
body > nav > ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding-left: 0;
    margin: 0;
}
body > nav li {
    flex: 1 1 50px;
    list-style-type: none;
}
body > nav li:first-child > a {
    font-family: Silkscreen, sans-serif;
}
body > nav li > a {
    background-color: #A0A;
    text-align: center;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
body > nav li + li > a {
    border-top: 2px solid #F5F;
    border-bottom: 2px solid #505;
}

/* Make nav bar appear at the top on mobile devices in both portrait and landscape mode. */

@media only screen and (max-width: 750px) {
    body > nav {
        width: 100%;
        height: 4rem;
        border-bottom: 2px solid #505;
        border-right: none;
    }
    body > nav > ul {
        flex-flow: row nowrap;
        justify-content: flex-start;
        height: 100%;
    }
    body > nav li + li > a {
        border-left: 2px solid #F5F;
        border-right: 2px solid #505;
        border-top: none;
        border-bottom: none;
    }
}
