
/* Watch us! */

#watch {
    background-image: linear-gradient(
        to bottom,
        #0fa 0%, #0fa 14%,
        #0a5 14%, #0a5 29%,
        #050 29%, #050 43%,
        black 43%, black 57%,
        #005 57%, #005 71%,
        #05a 71%, #05a 86%,
        #0af 86%, #0af 100%
    );
}

#live-now {
    margin: 2rem 3rem;
}
#live-now > h2 > img {
    width: 1rem;
}

.schedule {
    background-color: white;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /*
     * Number of rows:
     * Header (1)
     * Footer (1)
     * 24 hours for each day
     * 1 + 1 + 24 = 26
     */
    grid-template-rows: 2.5rem repeat(24, 2rem) auto;
    grid-auto-rows: minmax(2.5rem, auto);
    grid-auto-flow: row;
    color: black;
    max-width: 100%;
    overflow-x: scroll;
}

/* All schedule text */

.schedule > * {
    font-size: .75rem;
}

/* Day name */
.schedule > h3 {
    text-align: center;
    grid-row: 1 / 2;
}
/* Event list for each day */
.schedule > .event-list {
    background-color: black;
    color: white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    grid-row: 2 / span 24;
}
/* Events */
.schedule > .event {
    padding: 0.5rem;
    background-color: #5a0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    z-index: 10;
    opacity: 0.5;
    transition: opacity 0.125s ease-in-out;
}
.schedule > .event > :first-child {
    margin-top: 0;
}
.schedule > .event > :last-child {
    margin-bottom: 0;
}
.schedule > .event:hover {
    opacity: 1.0;
    z-index: 20;
}

/* Hours */
.schedule > .hour {
    grid-column: 1 / 8;
    color: #555;
    border-top: 1px solid #555;
    font-size: 0.5rem;
    padding-left: .5rem;
}
.schedule > .last-hour {
    color: black;
    border-top: none; /* Unnecessary */
    grid-row-start: -2;
    grid-row-end: -1;
}

/* Weekdays */
.schedule > .sunday {
    grid-column: 1 / 2;
}

.schedule > .monday {
    grid-column: 2 / 3;
}

.schedule > .tuesday {
    grid-column: 3 / 4;
}

.schedule > .wednesday {
    grid-column: 4 / 5;
}

.schedule > .thursday {
    grid-column: 5 / 6;
}

.schedule > .friday {
    grid-column: 6 / 7;
}

.schedule > .saturday {
    grid-column: 7 / 8;
}

.schedule > footer {
    grid-row: -2 / -1;
    grid-column: 1 / 8;
}
.schedule > footer * {
    text-align: center;
}

@media only screen and (max-width: 750px) {
    .schedule {
        margin: 2rem 0;
    }
    #live-now {
        margin: 2rem auto;
        max-width: 95%;
    }
}
